            tower_job_id = {{ tower_job_id | default('') }}
   tower_job_launch_type = {{ tower_job_launch_type | default('') }}
   tower_job_template_id = {{ tower_job_template_id | default('') }}
 tower_job_template_name = {{ tower_job_template_name | default('') }}
  tower_project_revision = {{ tower_project_revision | default('') }}
        tower_user_email = {{ tower_user_email | default('') }}
   tower_user_first_name = {{ tower_user_first_name | default('') }}
           tower_user_id = {{ tower_user_id | default('') }}
    tower_user_last_name = {{ tower_user_last_name | default('') }}
         tower_user_name = {{ tower_user_name | default('') }}
       tower_schedule_id = {{ tower_schedule_id | default('') }}
     tower_schedule_name = {{ tower_schedule_name | default('') }}
   tower_workflow_job_id = {{ tower_workflow_job_id | default('') }}
 tower_workflow_job_name = {{ tower_workflow_job_name | default('') }}
      tower_inventory_id = {{ tower_inventory_id | default('') }}
    tower_inventory_name = {{ tower_inventory_name | default('') }}
